{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
            <div class="col text-center">
                <h2 class="title-text bold-text">The Guides</h2>
                {% for c in current_categories %}
                    <h5>Current category:</h5>
                    <a class="text-decoration-none" href="{% url 'guides' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white title-text rounded-2 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <br>
                <p>{{ guides|length }} Guides{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}</p>
                <hr style="width: 60%" class="mx-auto">
            </div>
        </div>
        <div class="row">
            <div class="row">
                {% for guide in guides %}
                    <div class="col-md-6 col-lg-4 col-xl-3 pt-3 card-container">
                        <div class="card guide-card border-0 d-flex">
                            {% if guide.image %}
                                <a href="{% url 'guide_detail' guide.id %}">
                                    <img src="{{ guide.image.url }}" class="card-img-top" alt="{{ guide.name }}">
                                </a>
                            {% else%}
                                <a href="{% url 'guide_detail' guide.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top img-fluid" alt="{{ guide.name }}">
                                </a>
                            {% endif %}
                                <div class="card-body">
                                    <a href="{% url 'guide_detail' guide.id %}">
                                        <h4 class="card-title title-text">{{ guide.name }}</h4>
                                    </a>
                                    <a href="{% url 'guides' %}?category={{ guide.category.name }}">
                                        <i class="fas fa-tag"></i><small class="card-text uppercase-text"> {{ guide.category.friendly_name }}</small>
                                    </a>
                                    <br>
                                    {% if guide.rating %}
                                        <small class="card-text">Rating: {{ guide.rating }} / 5</small>
                                    {% else %}
                                        <small class="card-text">No Rating yet</small>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                        <small>
                                            <a href="{% url 'edit_guide' guide.id %}">Edit</a> |
                                            <a class="text-danger" href="{% url 'delete_guide' guide.id %}">Delete</a>
                                        </small>
                                    {% endif %}
                                </div>
                          </div>
                    </div>
                {% endfor %}
            </div>
            {% if search_term != 'None' %}
            <div class="row">
                <div class="col-12 text-center py-5">
                    <span class="small">
                        <a href="{% url 'guides' %}">
                            <button class=" btn btn-sm purple-btn all-guide-btn">
                                Show all Guides
                            </button>
                        </a>
                    </span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="div back-to-top-container">
        <button class="btt-link btn btn-md">
            <i class=" fas fa-arrow-up title-text"></i><span> back to top</span>
        </button>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}