{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container home-main">
        <div class="row">
            <div class="col-10 offset-1 ">
                <h1 class="title-text home-title">
                    Welcome to Gibbons Guides
                </h1>
                <div class="content-text">
                    <p>
                        Gibbons guide is a one stop place for you to access guides for some of your favouritres games, with just a one off payment you get access to the entire library of guides whenever you like you like.<br><br>
                        A one off payment of £5.99 will get you lifetime access to all current and future guides on the site<br><br>
                        Click the button below to see the guides we have available
                    </p>
                </div>
                <br>
                <div>
                    <a href="{% url 'guides' %}" class="btn-purple btn btn-lg">The Guides</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="title-text">Here are some of the guides</h3>
                {% for guide in guides|slice:"0:5" %}
                    <a class="home-image" href="{% url 'guide_detail' guide.id %}">
                        <img src="{{ guide.image_url }}" alt="{{ guide.name }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}