{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container head-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container">
        <div class="row">
            
            <div class="col-10 offset-1 home-main">
                <h1 class="title-text home-title">
                    Welcome to Gibbons Guides
                </h1>
                <div class="content-text">
                    <p>
                        Gibbons guide is a one stop place for you to access guides for some of your favouritres games, with just a one off payment you get access to the entire library of guides whenever you like you like.<br><br>
                        Click the button below to see some guides we have available
                    </p>
                </div>
                <br>
                <div>
                    <h4>
                        <a href="" class="btn-purple btn btn-lg">The Guides</a>
                    </h4>
                </div>
                <br><br>
                <div class="current-guides ">
                    <h3 class="title-text">Here are some of the guides currently available:</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}