{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock%}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="title-text">My Profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p>Profile Information</p>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button class="btn btn-purple mb-3">Update Info</button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                {% if orders %}
                    <h3 class="title-text">You are a Premium Member</h3>
                    <p>enjoy access to all of the below</p>
                    <p><i class="fas fa-check"></i> Access to all guides</p>
                    <p><i class="fas fa-check"></i> Lifetime membership, never pay again</p>
                    <p><i class="fas fa-check"></i> 100% AD free</p>
                {% else %}
                    <h3 class="title-text">Want to get access to our guides?</h3>
                    <br>
                    <a href="{% url 'checkout' %}">
                        <button class="btn btn-lg btn-purple">Buy Premium Access<br><small>Only £5.99 for lifetime access to all guides</small></button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}