{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock%}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
    <div class="checkout-container col">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title-text">Welcome to Premium access</h1>
                <p>You now have access to all the guides and all future releases</p>
                <p><i class="fas fa-check"></i> Access to all guides</p>
                <p><i class="fas fa-check"></i> Lifetime membership, never pay again</p>
                <p><i class="fas fa-check"></i> 100% AD free</p>
                <p>Confirmation will be emailed to {{ order.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pt-3 text-center">
                <a href="{% url 'guides' %}">
                    <button class="btn btn-lg btn-purple">Return to Guides</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}