/* main */

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color:black;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    padding-top: 172px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Text */

.title-text {
    color: #5312d6 !important; 
}

.logo-text  {
    color: white !important;
}

.bold-text {
    font-weight: 700;
}

.uppercase-text {
    text-transform: uppercase;
}

/* nav bar */

.GG_logo_header {
    max-height: 60px;
}

.topnav-area {
    background-color: #5312d6;
    padding-top: 10px;
}

.navbar {
    background-color: #5312d6;
}

.dropdown-menu {
    color: white !important;
    background-color: #5312d6;
}

.mobile-search-bar {
    position: absolute;
    left: 0px;
}

.nav-account-link {
    padding-top: 15px;
    padding-bottom: 0px;
}

.main-logo-link {
    width: fit-content;
}

/* home */

.home-main  {
    text-align: center;
}

.home-image {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.home-title {
    margin-bottom: 40px;
}

/* guie page */

.card-container {
    align-items: center;
}

.card-body a {
    columns: #ffffff;
    text-decoration: none;
}

.card-body a i {
    color: #5312d6;
}

.card-body a small {
    color: #000000;
}

.guide-detail a {
    columns: #ffffff;
    text-decoration: none;
}

.guide-detail a i {
    color: #5312d6;
}

.guide-detail a small {
    color: #000000;
}

.guide-card {
    max-width: 400px;
    align-items: center;
    text-align: center;
}

.guide-details-container {
    padding-top: 20px;
    padding-right: 30px;
}

.guide-detail-title {
    padding-bottom: 30px;
}

.guide-image-container {
    padding-right: 50px;
}

.guide-image {
    float: right;
}

.card-img-top {
    max-height: 200px;
    max-width: 200px;
}

/* containers */

.return-container {
    align-content: center;
}

.sort-box-container {
    align-content: center;
}

/* buttons */

.btn-purple {
    background-color: #5312d6;
    color: white !important;
    border: black;
    border-radius: 5px;
}

.all-guide-btn {
    background-color: #5312d6 !important;
    color: white !important;
    border:#000000 !important;
    border-radius: 5px !important;
}

.search-button {
    height: 100%;
    width: fit-content;
    background-color: #5312d6;
    color: white;
}

.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus,
.search-button:hover,
.search-button:active,
.search-button:focus {
    background: #5312d6;
    color: white;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #5312d6;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px !important;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #5312d6;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Media Queries */

@media (min-width: 992px) {
    .fixed-top-desktop {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (max-width: 992px) {
    body {
        padding-top: 126px;
    }
}

@media (max-width: 320px) {
    body {
        padding-top: 156px;
    }
}

@media (max-width: 264px) {
    body {
        padding-top: 230px;
    }
}

@media (max-width: 574px) {
    .guide-image {
        float: none;
        align-content: center;
    }

    .guide-image-container {
        align-content: center;
        text-align: center;
        padding-right: 0px;
    }

    .guide-details-container {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}