html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color:black;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    padding-top: 172px;
}

.home-main  {
    text-align: center;
}

/*.message-container {
    padding-top: 180px;
}*/

.GG_logo_header {
    max-height: 60px;
}

.topnav-area {
    background-color: #5312d6;
    padding-top: 10px;
}

.navbar {
    background-color: #5312d6;
}

.dropdown-menu {
    color: white !important;
    background-color: #5312d6;
}

.mobile-search-bar {
    position: absolute;
    left: 0px;
}

.nav-account-link {
    padding-top: 15px;
    padding-bottom: 0px;
}

.title-text {
    color: #5312d6 !important; 
}

.logo-text  {
    color: white !important;
}

.bold-text {
    font-weight: 700;
}

.uppercase-text {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.home-title {
    margin-bottom: 40px;
}

.card-container {
    align-items: center;
}

.guide-card {
    max-width: 400px;
    align-items: center;
    text-align: center;
}

.guide-details-container {
    padding-top: 20px;
    padding-right: 30px;
}

.guide-detail-title {
    padding-bottom: 30px;
}

.guide-image-container {
    padding-right: 50px;
}

.guide-image {
    float: right;
}

.card-img-top {
    max-height: 200px;
    max-width: 200px;
}

.btn-purple {
    background-color: #5312d6;
    color: white;
    border: white;
    border-radius: 5px;
}

.search-button {
    height: 100%;
    width: fit-content;
    background-color: #5312d6;
    color: white;
}

.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus,
.search-button:hover,
.search-button:active,
.search-button:focus {
    background: #5312d6;
    color: white;
}

@media (min-width: 992px) {
    .fixed-top-desktop {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (max-width: 992px) {
    body {
        padding-top: 126px;
    }
}

@media (max-width: 320px) {
    body {
        padding-top: 156px;
    }
}

@media (max-width: 264px) {
    body {
        padding-top: 230px;
    }
}

/* @media (max-width: 264px) {
    .message-container {
        padding-top: 230px;
    }
}
*/

@media (max-width: 574px) {
    .guide-image {
        float: none;
        align-content: center;
    }

    .guide-image-container {
        align-content: center;
        text-align: center;
        padding-right: 0px;
    }

    .guide-details-container {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}