<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-text bold-text nav-link" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Our Guides
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'guides' %}" class="dropdown-item logo-text">All Guides</a>
                <a href="{% url 'guides' %}?category=pc" class="dropdown-item logo-text">PC Guides</a>
                <a href="{% url 'guides' %}?category=playstation" class="dropdown-item logo-text">Playstation Guides</a>
                <a href="{% url 'guides' %}?category=xbox" class="dropdown-item logo-text">Xbox Guides</a>
                <a href="{% url 'guides' %}?category=nintendo" class="dropdown-item logo-text">Nintendo Guides</a>
            </div>
        </li>
    </ul>
</div>